* {
    main-bg:            #2E4164E6;
    main-fg:            #A55E76;
    main-br:            #4F6185;
    main-ex:            #335983;
    select-bg:          #A55E76;
    select-fg:          #2E4164;
}
